# พอร์ตที่ใช้ (ต้องตรงกับที่ Map ใน Docker -p 30120)
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# กำหนดชื่อเซิร์ฟเวอร์
sv_hostname "My Development Server"
sets sv_projectName "My Inventory Project"
sets sv_projectDesc "Testing my custom inventory"

# สิทธิ์การเข้าถึง (สำหรับ Test ใส่แอดมินให้ตัวเอง)
add_principal identifier.fivem:1 group.admin # แทนที่เลข 1 ด้วยเลข ID ของคุณถ้ามี

# โหลดสคริปต์
# ensure mapmanager
# ensure chat
# ensure spawnmanager
# ensure sessionmanager
# ensure fivem
ensure my_inventory  # ชื่อโฟลเดอร์สคริปต์ของคุณ